@model EP.Core.DTOs.AccountViewModels.ForgotPasswordViewModel
@using EP.Core.Enums.UserEnums

@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">آموزش</a></li>
        <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
    </ul>
</nav>

<main class="client-page">

    <div class="container-content">

        @if (ViewBag.Result == ForgotPasswordEnum.Successful)
        {

            <div class="alert alert-success">
                <p class="help-block">لینک تغییر رمز عبور به ایمیل شما ارسال شد</p>
            </div>

        }
        else if (ViewBag.Result == ForgotPasswordEnum.EmailIsNotValid)
        {

            <div class="alert alert-danger">
                <p class="help-block">ایمیل وارد شده معتبر نیست</p>
            </div>

        } else if (ViewBag.Result == ForgotPasswordEnum.ServerError) {

            <div class="alert alert-danger">
                <p class="help-block">با عرز پوزش خطایی در سیستم رخ داده لطفا بعدا تلاش کنید</p>
            </div>

        }

        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email"></span>

                <button class="btn btn-success">تایید</button>

            </form>
        </div>

    </div>
</main>