@model EP.Core.DTOs.AccountViewModels.ResetPasswordViewModel
@using EP.Core.Enums.UserEnums
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">آموزش</a></li>
        <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">

        @if (ViewBag.Result == ResetPasswordEnums.Successful)
        {

            <div class="alert alert-success">
                <p class="help-block">تغییر رمز عبور با موفقیت انجام شد</p>
            </div>

            <script>
                var delay = 3000;
                setTimeout(function () { window.location = "/"; }, delay);
            </script>

        }
        else if (ViewBag.Result == ResetPasswordEnums.UserCodeIsNotValid)
        {

            <div class="alert alert-danger">
                <p class="help-block">کد کاربر معتبر نیست</p>
            </div>

        }
        else if (ViewBag.Result == ResetPasswordEnums.PasswordAndConfirmPasswordAreNotMatch){

            <div class="alert alert-danger">
                <p class="help-block">رمز عبور و تکرار رمز عبور مطابقت ندارند</p>
            </div>

        }
        else if (ViewBag.Result == ResetPasswordEnums.ServerError)
        {

            <div class="alert alert-danger">
                <p class="help-block">با عرز پوزش خطایی در سیستم رخ داده لطفا بعدا تلاش کنید</p>
            </div>

        }

        <header><h2>تغییر رمز عبور</h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">

                <input asp-for="UserCode" hidden/>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور" aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="password">
                </div>

                <div asp-validation-summary="All" class="text-danger">
                </div>

                <button class="btn btn-success">ثبت تغییرات</button>

            </form>
        </div>

    </div>
</main>