@page "{roleId}"
@model EP.Web.Pages.Admin.Roles.EditRoleModel
@{
}

<main class="background-cover">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        اطلاعات نقش
                    </div>
                    <div class="panel-body">
                        <input asp-for="Role.roleId" hidden/>
                        <div class="form-group">
                            <label>نام نقش</label>
                            <input asp-for="Role.roleName" class="form-control">
                        </div>

                        <button class="btn btn-success">ذخیره اطلاعات</button>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        دسترسی نقش
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>