@{
    ViewData["title"] = "وضعیت پرداخت";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">آموزش</a></li>
            <li class="breadcrumb-item active" aria-current="page">پنل کاربری </li>
            <li class="breadcrumb-item active" aria-current="page">کیف پول</li>
            <li class="breadcrumb-item active" aria-current="page">وضعیت پرداخت</li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        @if (ViewBag.isSuccess)
        {

            <div class="alert alert-success">
                <p>عملیات با موفقیت انجام شد</p>
                <p>کد پیگیری : @ViewBag.code</p>
            </div>
            
        } else {

            <div class="alert alert-danger">
                <p>عملیات با شکست مواجه شد</p>
            </div>

        }
    </div>
</main>