@model EP.Core.DTOs.UserPanelViewModels.EditProfileViewModel
@{
    ViewData["Title"] = "ویرایش کاربر";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">آموزش</a></li>
            <li class="breadcrumb-item active" aria-current="page"> پنل کاربری </li>
            <li class="breadcrumb-item active" aria-current="page"> ویرایش حساب کاربری</li>
        </ul>
    </nav>
</div>

<link rel="stylesheet" href="/cropper/css/cropper.css">

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> ویرایش حساب کاربری </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="EditProfile" method="post" enctype="multipart/form-data">

                                @if (ViewBag.IsSuccess != null)
                                {
                                    <div class="alert alert-success">
                                        اطلاعات کاربری شما با موفقیت ویرایش شد    
                                    </div>

                                    <script>
                                        var delay = 3000;
                                        setTimeout(function () { window.location = "/"; }, delay);
                                    </script>
                                }
                               
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" asp-for="Username" placeholder="نام کاربری" aria-describedby="username">
                                            <input type="text" asp-for="UserAvatar" hidden/>
                                            <input type="text" id="user-avatar" asp-for="SelectedAvatar" hidden/>
                                            <input type="text" asp-for="UserId" hidden/>
                                        </div>
                                        <span asp-validation-for="Username"></span>
                                    </div>

                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div style="text-align: center;">

                                            <div style="width:100%">
                                                <img id="image" src="/images/profile-images/@Model.UserAvatar" />
                                            </div>

                                            <input name="SelectedAvatarFile" id="file" type="file" class="cropper-hidden" />
                                            <input name="PreviousSelectedAvatar" type="text" id="previous-selected-avatar" value="NoPreviousAvatar" hidden />



                                            <button form="" id="save-profile" style="padding:5px; border-radius:5px; background-color:green; color:white; border:none; margin-top:20px;">ثبت عکس</button>
                                        </div>
                                    </div>

                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> ویرایش اطلاعات </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script type="module" src="/cropper/js/cropper.js"></script>
    <script type="module" src="/js/edit-profile/edit-profile.js"></script>
}