@model EP.Core.DTOs.AccountViewModels.ActiveEmailViewModel

<div>
	<h2>@Model.Username عزیز!</h2>
	<p> لطفا جهت ادامه فعالیت و تایید ایمیل خود روی لینک زیر کلیک کنید.</p>
	<p>
		<a href="https://localhost:44320/Account/ActiveAccount/@Model.UserCode">فعال سازی حساب کاربری</a>
	</p>
</div>