@model EP.Core.DTOs.AccountViewModels.ForgotPasswordEmailViewModel

<div>
	<h2>@Model.Username عزیز!</h2>
	<p>جهت تغییر رمز عبور خود روی لینک زیر کلیک کنید</p>
	<p>
		<a href="https://localhost:44320/ResetPassword/@Model.UserCode">تغییر رمز عبور</a>
	</p>
	<p style="color:red">اگر این درخواست از طرف شما نبوده فقط آنرا نادیده بگیرید</p>
</div>