@page "{groupId}"
@model EP.Web.Pages.Admin.Group.DeleteGroupModel
@{
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            مشخصات گروه
        </div>
        <div class="panel-body">
            <form method="post">
                <dl class="dl-horizontal">

                    <input asp-for="Group.GroupId" hidden/>

                    <dt>نام گروه :</dt>
                    <dd>@Model.Group.GroupeName</dd>

                    <input type="submit" value="حذف" class="btn btn-danger" />
                </dl>
            </form>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>