@inject IUserPanelServices _userPanelServices;

@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    SideBarViewModel user = _userPanelServices.GetSideBarInfromationByUserId(userId);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside> 

        <div class="avatar-layer">
            <div class="img-layer">
                <a asp-area="UserPanel" asp-controller="Home" asp-action="EditProfile" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img src="~/images/profile-images/@user.ImageAddress" />
            </div>

            <div class="detail">
                <span> @user.Username </span>
                <span> عضویت : @user.RegisterDate.ToSolarCalendar() </span>
            </div>
        </div>


        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a asp-area="UserPanel" asp-controller="Home" asp-action="Index"> مشاهده حساب کابری </a></li>
                    <li><a asp-area="UserPanel" asp-controller="Home" asp-action="EditProfile"> ویرایش حساب کابری </a></li>
                    <li><a asp-area="UserPanel" asp-controller="Home" asp-action="ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a asp-area="UserPanel" asp-controller="Wallet" asp-action="Index">کیف پول</a></li>
                    <li><a href=""> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>
