@page
@model EP.Web.Pages.Admin.Course.IndexModel
@{
}

<div class="panel panel-default">
    <div class="panel-heading">
        کاربران
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                    <form>
                    </form>
                </div>
                <br />
                <a asp-page="CreateCourse" class="btn btn-outline btn-success">ایجاد دوره جدید</a>
                <br />
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>